{% extends "base.html" %}

{% block page_content %}
<section class="projects">
    <div class="project-card" style="max-width: 800px; margin: 0 auto;">
        {% if project.image %}
            <div class="project-image" style="height: 350px; background-image: url('{{ project.image.url }}');"></div>
        {% endif %}
        <div class="project-content">
            <h1 class="project-title">{{ project.title }}</h1>

            <div class="project-tags">
                <span class="tag">{{ project.technology }}</span>
            </div>

            <p class="project-description">{{ project.description }}</p>

            {% if project.url %}
                <a href="{{ project.url }}" target="_blank" class="cta-button">
                    Voir le projet en ligne <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock page_content %}