{% extends "base.html" %}

{% block page_content %}
<section class="projects">
    <h2 class="section-title">Toutes mes réalisations</h2>
    <div class="projects-grid">
        {% for project in projects %}
            <div class="project-card">
                {% if project.image %}
                    <div class="project-image" style="background-image: url('{{ project.image.url }}');"></div>
                {% endif %}
                <div class="project-content">
                    <h3 class="project-title">{{ project.title }}</h3>
                    <p class="project-description">{{ project.description }}</p>
                    <div class="project-tags">
                        <span class="tag">{{ project.technology }}</span>
                    </div>
                    <a href="{% url 'project_detail' project.pk %}" class="project-link">
                        Voir le projet <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock page_content %}